@import 'node_modules/bootstrap/scss/bootstrap';

.content .title {
  height: 20px;

  .text {
    margin-top: 8px;
  }
}

@include media-breakpoint-up(sm) {
  .content .title {
    height: 20px;

    .text {
      margin-top: 8px;
    }
  }
}

@include media-breakpoint-up(md) {
  .content .title {
    height: 20px;

    .text {
      margin-top: 8px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .content .title {
    height: 30px;

    .text {
      margin-top: 10px;
    }
  }
}

@include media-breakpoint-up(xl) {
  .content .title {
    height: 30px;

    .text {
      margin-top: 10px;
    }
  }
}
