@import 'node_modules/bootstrap/scss/bootstrap';

html {
  font-size: 25px;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  color: #001e62;
  font-family: -apple-system, 'BlinkMacSystemFont', Sans-Serif;
}

h1 {
  font-size: 1em !important;
  letter-spacing: 2px;
  font-weight: 800;
}

h2 {
  font-size: 0.8em;
  letter-spacing: 5px;
  font-weight: 700;
}

h3 {
  font-size: 0.7em;
}

p {
  font-size: 0.5em;
  font-weight: 600;
  line-height: 1.4em;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 25px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 25px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 39px;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 39px;
  }
}
