@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './_content-title';
@import './_header';
@import './_font-size';

.ta_center {
  h2 {
    text-align: center;
  }
}

.contents > .Home {
  height: auto;

  .logo {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .title {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    h2 {
      text-align: center;
      line-height: 1.5em;
    }
  }
}

#recruit_strong .sub_title h2 .under_line {
  color: rgba(#000, 0);
  background-image: url(./assets/strong.png);
  background-position: top;
  background-size: 100% 0.5em;
  // background-attachment: fixed;
  background-repeat: repeat-x;
}

// $content_title_height:30px;

.content {
  margin-bottom: 100px;
  padding-left: 0;
  padding-right: 0;

  .title {
    margin-top: 50px;
    width: 100%;

    .logo {
      height: 100%;
      width: auto;
      float: left;

      .d-none,
      .d-md-block,
      .d-md-none {
        width: auto;
        height: 100%;
      }

      svg {
        height: 100%;
        width: auto;
        opacity: 0.3;
      }
    }

    .text {
      height: 100%;
      width: auto;
      float: left;
    }
  }

  .sub_title {
    margin-bottom: 0;

    .under_line {
      color: rgba(#000, 0);
      text-shadow: none;
    }
  }

  .contact_button {
    width: 10em;
    height: 2em;
    margin: 2em auto 0 auto;

    button {
      height: 100%;
      width: 100%;
      background-color: #fff;
      border: solid #001e62 2px;
      margin: 1em 0;

      &:hover {
        background-color: #001e62;

        h2 {
          color: #fff;
        }
      }

      h2 {
        margin: 0;
        letter-spacing: 0;
      }
    }
  }
}

.Home {
  margin-top: 80px;

  .over {
    width: 100%;
    margin: 0;
    img {
      width: 100%;
      filter: grayscale(100%);
    }
    p, h3 {
      position: absolute;
      left: 0;
      color: #fff;
      text-align: center;
      width: 100%;
      letter-spacing: .2em;
      margin: 0;
    }
    h3 {
      bottom: 2em;
      font-size: 1em;
    }

    p {
      bottom: .3em;
      text-align: center;
    }
  }

  .count {
    margin-bottom: 5em;

    #countdown {
      font-size: 1.2em;
  
      span {
        color: #C63527;
        span {
          color: #001e62;
          font-size: 0.4em;
        }
      }
    }
  }

$grey: 90%;
  .ob {
    &.last {
      margin-bottom: 2em;
    }

    h2  {
      font-size: 3em;
      line-height: .9em;
      text-align: center;
      opacity: .4;
      letter-spacing: 0;
      // border-top: solid 1px #001e62;
      // border-bottom: solid 1px #001e62;

      .red {
        color: #C63527;
      }
    }
    img {
      width: 100%;
      -webkit-filter: grayscale($grey);
      -moz-filter: grayscale($grey);
      -ms-filter: grayscale($grey);
      -o-filter: grayscale($grey);
      filter: grayscale($grey);
    }
  }
  svg {
    height: 200px;
  }
}

.apply p {
  border-bottom: 2px solid #001e62;
}

.title {
  margin-top: 50px;
  margin-bottom: 50px;
}

@include media-breakpoint-up(sm) {
  .Home {
    margin-top: 80px;

    svg {
      height: 200px;
    }
  }

  .title {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .apply p {
    border-bottom: 2px solid #001e62;
  }
}

@include media-breakpoint-up(md) {
  .Home {
    margin-top: 80px;

    svg {
      height: 200px;
    }
  }

  .title {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .apply p {
    border-bottom: none;
  }
}

@include media-breakpoint-up(lg) {
  .Home {
    margin-top: 150px;

    svg {
      height: 300px;
    }
  }

  .title {
    margin-top: 120px;
    margin-bottom: 80px;
  }

  .apply p {
    border-bottom: none;
  }
}

@include media-breakpoint-up(xl) {
  .Home {
    margin-top: 150px;

    svg {
      height: 300px;
    }
  }

  .title {
    margin-top: 150px;
    margin-bottom: 100px;
  }

  .apply p {
    border-bottom: none;
  }
}

.apply {
  p {
    text-align: center;
    line-height: 40px;
    margin: 0 15px;
  }

  .d-md-block {
    svg {
      width: calc(100% - 15px);
      height: auto;
      margin-left: 15px;
    }
  }

  .d-md-none svg {
    height: 60px;
    width: auto;
    float: left;
  }
}

.strong h2 {
  font-size: 1.2em;

  &.strong {
    font-size: 1.2em;
  }
}

.vision_shadow {
  text-shadow: 1px 1px 1px #000;
}

.about {
  .inner {
    width: 100%;
    margin: 0;
    text-align: left;

    &.b {
      ul {
        text-decoration: none;
        font-size: 0.6em;
        color: #001e62;

        li {
          list-style-type: none;
          margin-top: 1em;
          text-align: center;
        }
      }
      // border-right: solid 1px #001e62;
    }
  }

  p {
    text-align: center;
    height: 4em;
  }

  img {
    width: 80%;
    margin: 0 10%;
  }
}

.contact {
  height: 10em;
  margin-bottom: 1em;
  p {
    text-align: center;
  }
}

.mail {
  font-size: 0.5em;
}
