extends ../common/_content-layout.pug
include ../mixins/_content.pug

block title
  +title('CONTACT')

block sub_title

block main
  .contact
    p ミスター慶應コンテスト2019へのお問い合わせにつきましては、
      span#mail_address mrkeio2019.cytron@gmail.com
      | よりお願い致します。
    .contact_button
      a(href='mailto:mrkeio2019.cytron@gmail.com?subject=Mr.KEIO CONTEST 2019のお問い合わせ')
        button#clip(
          type='button'
          class='btn btn-outline-dark'
          data-clipboard-text='mrkeio2019.cytron@gmail.com'
        )
          h2.mail 問い合わせる
