.Home.container-fluid.content.bg_gray
  .row.no-gutters
    .col
    .logo.col-8.col-sm-9.col-md-10.col-lg-10.col-xl-8
      img(src='./assets/logo.png')
    .col.right
  .row.no-gutters
    .col
    .title.col-10.col-sm-10.col-md-11.col-lg-10.col-xl-8
      h2 Mr.KEIO CONTEST 2019
        br
        | 募集締め切りまで
        br
        | N日
    .col.right
