extends ../common/_content-layout.pug
include ../mixins/_content.pug

block title
  +title('RECRUIT')

block sub_title
  #recruit_strong
    +sub_title('運営メンバー募集中！')

block main
  .recruit
    p 生まれたてのチーム、ばらばらな個性と能力。
    p 私たちが信じている『挑戦に自由を。』というテーマはコンテストをつくりあげるメンバーにもあてはまると思っています。
    p 2019年、これまでにないコンテストをつくるためにはあなたの大胆な発想やワクワクするアイデアが必要です。
    p エンジニア、クリエイティブ、カメラマン、プランナー、セールス・・・
      br
      | これらにあてはまる必要はありません。
    p 「他の活動との両立が不安」「なんとなく興味がある」大歓迎です。お互いがハッピーになれる関係を探しましょう。
    p ミスター慶應コンテスト2019を私たちと一緒につくりませんか？
    .contact_button
      button(
        type='button'
        class='btn btn-outline-dark'
      )
        h2 話を聞いてみる
