extends ../common/_content-layout.pug
include ../mixins/_content.pug

block title
  +title('VISION')

block sub_title
  .ta_center.strong.vision_shadow
    +sub_title('挑戦に自由を。')

block main
  .vision
    p いつからだろう、何も変わっていないはずの世の中がこんなにも窮屈になったのは。
    p わかってる。１歩を踏み出すのは怖い。
      br
      | 何事もなく、今のままの自分がいい。
    p でも、このままじゃ駄目だと気づいている。
      br
      | 目を背けている。逃げている。
    p 窮屈なのは世の中じゃない。自分で自分を閉じこめているんだ。
    p あいつは終わった？終わりなんかじゃない、これから始めるんだ。
      br
      | 身の程知らず？身の程知らずを決めるのは他人じゃない、自分自身だ。
    p 始まりは小さくたっていい
      br
      | 始まりはいつだっていい
      br
      | 始まりは誰だっていい
    p 挑戦はそれ自体に価値がある。あなただけの特権だ。
    p
      br
      | 挑戦はいつだって自由だ。
