extends ../common/_content-layout.pug
include ../mixins/_content.pug

block title
  +title('VISION')

block sub_title
  .ta_center.strong.vision_shadow
    +sub_title('ここから、はじまる。')

block main
  .vision
    p 自分がいた世界から一歩外に出る。
    p たった一歩。
    p 簡単なように思えるが、
      br
      | その一歩を踏み出す勇気、未知の地に飛び込む勇気。
      br
      | それは他人と比べたりできるようなものじゃない。
      br
      | 自分を変えたい、変わりたいという想い次第だ。

    p ちょっとした興味、やりたいという強い思い、
      br 
      | きっかけはそれぞれ。
    p しかし、やると決めた瞬間、スタートラインは誰だって同じだ。
    p 1年後、数年後、
      br 
      | やってよかった、
      br
      | と思える始点は
      br
      | 今、目の前にある。
    p そう、ここから。
