doctype
html(lang='ja')
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-136780255-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-136780255-1');

    meta(charset='utf-8')
    meta(name='description' content='Mr.KEIO CONTEST 2020（ミスター慶應コンテスト）。2020年度の慶應義塾大学の学生の中から、一番のミスターが決定します！投票開始は2020年7月20日。')

    head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/ fb# website: http://ogp.me/ns/website#')
    meta(property='og:url' content='https://keio.mrcontest.jp')
    meta(property='og:type' content='website') 
    meta(property='og:title' content='Mr.KEIO CONTEST 2020 ファイナリスト公開！')
    meta(property='og:description' content='Mr.KEIO CONTEST 2020 HP。2020年7月20日から投票を開始します')
    meta(property='og:site_name' content='Mr.KEIO CONTEST 2020')
    meta(property='og:image' content='https://keio.mrcontest.jp/assets/logo.png')


    meta(name='twitter:card' content='summary')
    meta(name='twitter:site' content='@mr_keio')


    title Mr.KEIO (ミスター慶應) 2020 | HP
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')

    link(rel='shortcut icon' href='assets/favicon.ico')

    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet' href='./index.css')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js')
  body
    include common/_header.pug
    .contents
      include contents/_Home.pug
      include contents/_About.pug
      include contents/_Apply.pug
      include contents/_Vision.pug
      //- include contents/_Recruit.pug
      include contents/_Contact.pug

    script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/countdown/2.6.0/countdown.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
    script(src='js/scroll.js')
    script(src='js/countdown.js')
