.container-fluid.content.bg_gray
  block title
  .describe
    .row.no-gutters
      .col
      .col-10.col-sm-10.col-md-10.col-lg-10.col-xl-8
        block sub_title
      .col
    .row.no-gutters
      .col
      .col-10.col-sm-10.col-md-10.col-lg-10.col-xl-8
        block main
      .col
